:root {
  --main-blue: #3881b2;
  --input-gray: rgb(235, 232, 232);
}

.background-image {
  background-image: url("/static/images/travel1.jpg");
  height: 91vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pic-welcome {
  color: white;
  font-size: 20vh;
  padding-top: 30vh;
  text-shadow: 2px 2px 4px black;
}

#sub-welcome {
  color: white;
  text-shadow: 2px 2px 4px black;
}

.intro-text {
  padding-top: 80px;
  padding-bottom: 60px;
  width: 60vw;
  margin: auto;
  font-size: 19px;
}

.center_us {
  text-align: center;
}

.btn-special-blue {
  color: #fff;
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}

#data-form {
  margin-bottom: 5vh;
}

input,
textarea,
select {
  width: 45vw;
  background-color: var(--input-gray);
  border-color: transparent;
  border-radius: 5px;
  padding: 5px;
}

textarea {
  min-height: 20vh;
}

form > div {
  margin-top: 10px;
  margin-bottom: 20px;
}
form {
  margin-bottom: 10px;
}

.form-btn {
  width: 30vw;
  background-color: var(--main-blue);
  border-radius: 5px;
  border-color: transparent;
  color: white;
  padding: 5px;
}

.slider {
  background: var(--input-gray);
  opacity: 0.7;
  width: 45vw;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  background: var(--main-blue);
  cursor: pointer;
  border-radius: 50%;
}

#sliderValue {
  font-weight: bold;
  display: relative;
}
.min-max-values {
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

#min {
  float: left;
}

#max {
  float: right;
}
