{% extends "layouts/base.html" %} {% set title %}Data{% endset %} {% set style
%}main.css{% endset %} {% block body %}
<div class="center_us" id="data-form">
  <br /><br />
  <h1>Enter your data here!</h1>
  <form action="/results" method="POST">
    <div>
      <label for="locations">Enter the destinations (one per line):</label>
      <br />
      <textarea name="locations" id="location-input" required></textarea>
      <br />
    </div>

    <div>
      <label for="transport">Select the transportation mode:</label>
      <br />
      <select name="transport" required>
        <option value="" disabled selected>--select--</option>
        <option value="bus">Bus</option>
        <option value="car">Car</option>
        <option value="bike">Bike</option>
        <option value="walking">Walking</option>
      </select>
      <br />
    </div>

    <div>
      <label for="departure">Select departure date:</label>
      <br />
      <input type="date" name="departureDate" id="departureDate" required />
      <br />
    </div>
    <div>
      <label for="time">Select departure time:</label>
      <br />
      <input type="time" name="departureTime" id="departureTime" required />
      <br />
    </div>
    <div>
      <label for="numDays"
        >Number of days travelling: <span id="sliderValue">0 Days</span></label
      >
      <br />
      <div id="slide-wrapper">
        <input
          type="range"
          min="1"
          max="10"
          value="5"
          class="slider"
          id="myRange"
          name="numDays"
          required
        />

        <div class="min-max-values">
          <span id="min">0</span>
          <span id="max">10</span>
        </div>
      </div>
      <br />
    </div>

    <input type="submit" name="Submit" class="form-btn" />
  </form>
  <button onclick="" class="form-btn">Show Locations on Map</button>
  <div id="map"></div>
  <script src="/static/js/main.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&loading=async&callback=initMap"
  ></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=places,marker&callback=initMap&solution_channel=GMP_QB_addressselection_v2_cAB"
    async
    defer
  ></script>
  <script>
    ((g) => {
      var h,
        a,
        k,
        p = "The Google Maps JavaScript API",
        c = "google",
        l = "importLibrary",
        q = "__ib__",
        m = document,
        b = window;
      b = b[c] || (b[c] = {});
      var d = b.maps || (b.maps = {}),
        r = new Set(),
        e = new URLSearchParams(),
        u = () =>
          h ||
          (h = new Promise(async (f, n) => {
            await (a = m.createElement("script"));
            e.set("libraries", [...r] + "");
            for (k in g)
              e.set(
                k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                g[k]
              );
            e.set("callback", c + ".maps." + q);
            a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
            d[q] = f;
            a.onerror = () => (h = n(Error(p + " could not load.")));
            a.nonce = m.querySelector("script[nonce]")?.nonce || "";
            m.head.append(a);
          }));
      d[l]
        ? console.warn(p + " only loads once. Ignoring:", g)
        : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
    })({
      key: "{{google_key}}",
      v: "weekly",
    });
  </script>
</div>
{% endblock %}
