{% extends "layouts/base.html" %} {% set title %}Data{% endset %} {% set style
%}main.css{% endset %} {% block body %}
<div class="center_us" id="data-form">
  <br /><br />
  <h1>Enter your data here!</h1>
  <form action="/results" method="POST">
    <div>
      <label for="location_search"> Destinations you MUST go to: </label>
      <br />
      <input name="location_search" id="location-input" />
      <input name="must_locations" id="must-locations" hidden />
      <input name="must_names" id="must-names" hidden />
      <br />
      <div class="sortable-list">
        <ol id="sortable"></ol>
      </div>
    </div>
    <div>
      <label for="ranking_considered">
        Should the ranking above to be considered?
      </label>
      <select name="ranking_considered" class="small-selects" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>

    <div>
      <label for="categories_of_locations"
        >Other types of places you would or wouldn't like to go to:</label
      >
      <br />
      <div class="all-radios">
        {% for category in categories %}
        <div class="sub-radios">
          <input
            type="radio"
            name="{{categories[category]}}"
            value="include"
            class="include_categories"
          />
          <input
            type="radio"
            name="{{categories[category]}}"
            value="exclude"
            class="exclude_categories"
          />
          <span>{{category}}</span>
        </div>
        <br />
        {% endfor %}
      </div>
    </div>
    <div>
      <label for="hotel_input">Hotel:</label>
      <br />
      <input type="text" name="hotel_input" class="hotel_input" required />
      <input type="hidden" name="hotel" class="hotel" />
      <br />
    </div>
    <div>
      <label for="sleepTime">Sleep Time:</label>
      <input type="time" name="sleepTime" id="sleepTime" required />
      <label for="wakeTime">Wake-up Time:</label>
      <input type="time" name="wakeTime" id="wakeTime" required />
      <br />
    </div>
    <div>
      <label for="transport">Mode of Transportation:</label>
      <select name="transport" class="small-selects" id="transport" required>
        <option value="" disabled selected>--select--</option>
        <option value="public transport">Public Transport</option>
        <option value="car">Car</option>
        <option value="bike">Bike</option>
        <option value="walking">Walking</option>
      </select>
      <label for="budget">Budget:</label>
      <select name="budget" class="small-selects" id="budget" required>
        <option value="" disabled selected>--select--</option>
        <option value="$">$</option>
        <option value="$$">$$</option>
        <option value="$$$">$$$</option>
        <option value="$$$$">$$$$</option>
        <option value="$$$$$">$$$$$</option>
      </select>
      <br />
    </div>
    <div>
      <label for="departure">Arrival date:</label>
      <input type="date" name="arrivalDate" id="arrivalDate" required />
      <label for="time">Arrival time:</label>
      <input type="time" name="arrivalTime" id="arrivalTime" required />
      <br />
    </div>
    <div>
      <label for="numDays"
        >Number of days travelling: <span id="sliderValue">0 Days</span></label
      >
      <br />
      <div id="slide-wrapper">
        <input
          type="range"
          min="1"
          max="10"
          value="5"
          class="slider"
          id="myRange"
          name="numDays"
          required
        />

        <div class="min-max-values">
          <span id="min">0</span>
          <span id="max">10</span>
        </div>
      </div>
      <br />
    </div>

    <input type="submit" name="Submit" class="form-btn" />
  </form>
  <div id="map"></div>
  <script
    async
    src="http://maps.googleapis.com/maps/api/js?v=3.exp&key={{google_key}}&sensor=false&libraries=places"
  ></script>

  <script src="/static/js/main.js"></script>
  <script src="/static/js/locations.js"></script>
</div>
{% endblock %}
