{% extends "layouts/base.html" %} {% set title %}Home{% endset %} {% set style
%}main.css{% endset %} {% block body %}
<div class="center_us">
  <div class="background-image">
    <h1 id="pic-welcome">Welcome!</h1>
    <h1 id="sub-welcome">Travel Optimizer</h1>
  </div>
  <hr />
  <div class="intro-text">
    <p>
      Traveling often comes with a desire to explore all the must-see spots—from
      iconic landmarks and hidden gem eateries recommended by friends, to
      top-rated attractions featured on travel sites. However, the reality of
      limited time, the need to navigate between locations, and budget
      constraints can make trip planning challenging. Our innovative travel
      planner is designed to help you maximize your time and experience. Simply
      enter the destinations you wish to visit, the duration of your stay, and
      your budget, and our system will craft a personalized itinerary that
      aligns with your preferences. Whether it’s avoiding crowds, seeking out
      local favorites, or ensuring you hit all the top sights, our planner
      adjusts to your needs.
    </p>
  </div>

  <hr />
</div>
{% endblock %}
